<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    chorder
  </h1>
</div>

<div class="row">
  <div class="col-sm">
    <app-song [song]="song" [isReadOnly]="false" [displayMode]="DisplayMode.LYRICS" ></app-song>
  </div>
  <div class="col-sm">
    <app-song [song]="song" [isReadOnly]="true" [displayMode]="DisplayMode.FULL" ></app-song>
  </div>
  <div class="col-sm">
    <app-song [song]="song" [isReadOnly]="false" [displayMode]="DisplayMode.FULL" ></app-song>
  </div>
</div>