<h3 *ngIf="!isEditing; else partNameEditor" [class.editable]="!isReadOnly" (click)="onPartNameClick()">{{part.name}}</h3>
<ng-template #partNameEditor>
    <input  [appFocus]="isFocus" type="text" [(ngModel)]="part.name" (blur)="onPartNameBlur()">
</ng-template>

<!-- Part contents -->
<div *ngIf="displayMode == DisplayMode.FULL; then chordPart else lyricsPart"></div>

<!-- Chorder parts -->
<ng-template #chordPart>
    <app-line *ngFor="let line of part.lines" [line]="line" [displayMode]="displayMode" [isReadOnly]="isReadOnly"></app-line>
</ng-template>

<!-- Lyricsist parts -->
<ng-template #lyricsPart>
    <app-lyrics [part]="part" [isReadOnly]="isReadOnly"></app-lyrics>
</ng-template>