

#icon{
  position: relative;
  transform: translateY(5px);
  border-style: none;
  padding: 5px;
  
}

#icon:hover{
  background-color: #37479f;
  border-radius: 100%;
}

#search{
  background-color: #3f51b5;
  width: 0px;
  height:32px;
  border: 0;
  color: white;
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-in-out;
}

#search:focus{
  width: 150px;
  outline: 0;
}

.searchBox{
  right: 30px;
  position:absolute;
}

.forMobi{
  display: none;
}

/*@media only screen and (max-width: 600px) {
  #icon{
    position: relative;
    transform: translateY(5px);
    border-style: none;
    padding: 5px;
    
  }
  
  #icon:hover{
    background-color: #37479f;
    border-radius: 100%;
  }
  
  #search{
    background-color: #3f51b5;
    width: 0px;
    height:32px;
    border: 0;
    color: white;
    border-bottom: 2px solid #fff;
    transition: all 0.2s ease-in-out;
  }
  
  #search:focus{
    width: 150px;
    outline: 0;
  }
  
  .searchBox{
    right: 30px;
    position:absolute;
  }
}*/