
#search-icon{
  position: relative;
  padding: 5px;
  transform: translateY(3px);
  -webkit-animation-duration: 4s linear;
  animation-duration: 4s linear;
}

#search-icon:hover{
  background-color: #37479f;
}

div{
  position: relative;
  left:1000px;
}

div.searchBox{
  transform: translateY(-3px);
}

#searchBox {
  position: relative;
  width: 0px;
  height:32px;
  box-sizing: border-box;
  border: solid white;
  border-width: 0px 0px 0px 0px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.5s ease-in-out;
}
