<div class="key" (click)="onKeyClick($event)">
  <div *ngIf="isEditingKey; then keyEditor else keyReader"></div>
  <ng-template #keyEditor>
    <input type="text" class="form-control" [(ngModel)]="song.key" (blur)="onKeyBlur($event)" [appFocus]="isFocus">
  </ng-template>
  <ng-template #keyReader>
    <span class="editable" class="badge badge-secondary">{{song.key}}</span>
  </ng-template>

</div>

<div class="title" (click)="onTitleClick($event)">
  <div *ngIf="isEditingTitle; then titleEditor else titleReader"></div>

  <ng-template #titleEditor>
    <input type="text" class="form-control" [(ngModel)]="song.title" (blur)="onTitleBlur($event)" [appFocus]="isFocus">
  </ng-template>
  <ng-template #titleReader>
    <h2 class="editable">{{song.title}}</h2>
  </ng-template>
</div>