<div class="cell {{mode}}" (click)="onCellClick($event)">
  <div class="chord">
    <div *ngIf="isEditing; then chordEditor else chordReader"></div>
    <ng-template #chordEditor>
      <input *ngIf="isEditing" 
      [(ngModel)]="cell.chord"
      (focusout)="onChordBlur()"
      (keydown.tab)="onChordTab()" 
      [appFocus]="isFocus">
    </ng-template>

    <ng-template #chordReader>
      <span *ngIf="!isEditing">{{cell.chord}}</span>
    </ng-template>
  </div>

  <div class="word {{mode}}">{{cell.word}}</div>
</div>