.cell {
    float: left;
    margin-right: 5px;
    height: 100%;
}

.cell.editable {
    min-width: 50px;
}
.cell.editable:hover {
    background-color:lightgray;
    cursor: pointer;
}

.cell.readonly {
    min-width: 0;
}

.cell .chord {
    font-weight: bold;
    text-align: center;
}

.cell > .chord > input {
    width: 50px;
}
