.cell {
    float: left;
    margin-right: 5px;
    height: 100%;
}

.cell.edit-mode {
    min-width: 50px;
}
.cell.edit-mode:hover {
    background-color:lightgray;
}

.cell.read-mode {
    min-width: 0;
}

.cell .chord {
    font-weight: bold;
    text-align: center;
}

.cell > .chord > input {
    width: 50px;
}
