.cell {
    float: left;
    margin-right: 5px;
    height: 100%;
}

.cell.edit-mode {
    min-width: 50px;
}

.cell.read-mode {
    min-width: 0;
}

.chord {
    font-weight: bold;
    text-align: center;
}

.chord > input {
    width: 50px;
}