<div class="cell" [ngClass]="{
    'editable': mode == SongMode.EDIT,
    'readonly': mode == SongMode.VIEW }" (click)="onCellClick()">
  <div class="chord">
    <div *ngIf="isEditing; then chordEditor else chordReader"></div>
    <ng-template #chordEditor>
      <input [(ngModel)]="cell.chord" (focusout)="onChordBlur()" (keydown.tab)="onChordTab()" [appFocus]="isFocus">
    </ng-template>

    <ng-template #chordReader>
      <span>{{cell.chord}}</span>
    </ng-template>
  </div>

  <div class="word {{displayMode}}">{{cell.word}}</div>
</div>