<div class="lyrics" [ngClass]="{'editable': mode == SongMode.EDIT && !isEditing}" (click)="onLyricsClick()">
    <div *ngIf="isEditing; then lyricsEditor else lyricsReader"></div>
</div>

<ng-template #lyricsEditor>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Lyrics" rows="5" (focusout)="onLyricsBlur()" [appFocus]="isFocus" [(ngModel)]="part.lyrics" (change)="onLyricsChange($event)">
    </textarea>
    </mat-form-field>
</ng-template>

<ng-template #lyricsReader>
    <pre>{{part.lyrics}}</pre>
</ng-template>