<div *ngIf="song; else loadingSpinner">

    <app-song-header [song]="song" [mode]="mode"></app-song-header>

    <ng-content select=".song-view-mode"></ng-content>
    <div *ngIf="view != ViewMode.INFO; else songInfo">
        <app-part *ngFor="let part of song.parts;index as i" [part]="part" [mode]="mode" [view]="view" [index]="i" (tab)="onPartTab($event)"
            (remove)="removePart($event)" (change)="onChange($event)">
        </app-part>

        <button mat-raised-button color="primary" *ngIf="mode == SongMode.EDIT && view == ViewMode.LYRICS" (click)="addPart()">Add a part</button>
    </div>
    <ng-template #songInfo>
        <app-song-info [song]="song" [mode]="mode" (change)="onChange($event)"></app-song-info>
    </ng-template>
</div>

<ng-template #loadingSpinner>
    <mat-spinner></mat-spinner>
</ng-template>