<div *ngIf="songs; else loadingSpinner">
  <ul>
    <li *ngFor="let song of songs">
      <mat-card class="song-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="song-card-header-image"></div> -->
          <mat-card-title>
            <a [routerLink]="['/songs', song.id, song.title]">
              {{song.title}}
              <span class="badge badge-secondary">{{song.key}}</span>
            </a>
          </mat-card-title>
          <mat-card-subtitle>{{song.author}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
           {{song.firstPartLyrics}}
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </li>
  </ul>
</div>
<ng-template #loadingSpinner>
  <mat-spinner class="loading-spinner"></mat-spinner>
</ng-template>
<button mat-raised-button color="primary" [routerLink]="['/songs', 0, 'new-song', 'edit']">Add a song</button>