<h3 *ngIf="!isEditing; else partNameEditor" [class.editable]="!isReadOnly" (click)="onPartNameClick()">{{part.name}}</h3>
<ng-template #partNameEditor>
    <input  [appFocus]="isFocus" type="text" [(ngModel)]="part.name" (blur)="onPartNameBlur()">
</ng-template>

<!-- Part contents -->
<div *ngIf="view == ViewMode.FULL; then fullPart else lyricsPart"></div>

<!-- Chorder parts -->
<ng-template #fullPart>
    <app-line *ngFor="let line of part.lines; index as i" 
    [line]="line" 
    [mode]="mode" 
    [view]="view" 
    [index]="i"
    (tab) = "onLineTab($event)" ></app-line>
</ng-template>

<!-- Lyricsist parts -->
<ng-template #lyricsPart>
    <app-lyrics [part]="part" [mode]="mode"></app-lyrics>
</ng-template>