<button mat-button routerLink="./edit" color="primary">Edit</button>
<button mat-button (click)="deleteSong()">Delete</button>

<app-song [song]="song" [mode]="SongMode.VIEW" [view]="ViewMode.FULL">
    <div class="song-view-mode">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
            <mat-button-toggle checked="lyricsCheck" (change)="onLyricsCheck($event)">Lyrics</mat-button-toggle>
            <mat-button-toggle checked="chordCheck" (change)="onChordCheck($event)">Chord</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</app-song>